body[data-state="disconnected"] #start_cont{
    display: none;
}

body[data-state="connected"] #login{
    display: none;
}

body[data-state="connected"] #game{
    height: 500px;
    margin-top:-250px;
}
